{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('posts') }}" class="btn btn-primary btn-sm"> <== Back to Blog List</a>
<br><br>
<h1>Blog Posts ... </h1>
<br>

{% if post %}

<div class="shadow p-3 mb-5 bg-body rounded">
    <h3>{{ post.title }}</h3>
    {% set list1 = post.date_posted|string %}
    <small>{{ post.poster.name }} |
    {{ post.key_note }} |
    {{ list1[0:10] }}<br></small><br>
    {{ post.content|safe }} <br><br>
    
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
         {% if post.poster.about_author %}
          <div class="col-md-12">
            <div class="card-body  bg-info">
              <h5 class="card-title font-weight-bolderx">About {{ post.poster.name }}</h5>
                {{ post.poster.about_author }}<br><br>
                <br><br></div></div>

          {% else %}
          <div class="col-md-12">
            <div class="card-body bg-info">
              <h5 class="card-title text-white">About {{ post.poster.name }}</h5>
                <p>Yet to Updated..</p><br><br>
                <br><br></div></div>

          {% endif %}


        </div>
      </div>
    </div>


    {% endif %}


{% if current_user.user_id == post.author_id %}
    
    <a href="{{ url_for('edit_post', post_id = post.post_id ) }}" class="btn btn-secondary btn-sm ">Edit Post</a>

    <a href="{{ url_for('delete_post', post_id = post.post_id ) }}" class="btn btn-danger btn-sm ">Delete Post</a><br>

{% endif %}

<br>


        <div class="card text-bg-light mb-3" style="max-width: 100%;">
          <div class="card-header">Comments</div>
          <div class="card-body">
            {% if comments %}
            {% for comment in comments %} 
              <h5 class="card-title" style="color: brown;">{{ comment.author }}</h5>
              <p class="card-text" style="color: rgb(81, 165, 42);">{{ comment.text }}</p><hr>
            {% else %}
            <p>Write a comment!!</p>

            {% endfor %}
            {% endif %}

          </div>
        </div>


        <br><br>

    <h3 style="color: rgb(255, 102, 0); text-shadow: 10px;">Post a comment ...</h3>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.text.label(class = "form-label") }}
        
        {{ form.text(class = "form-control") }}
        <br>

        {{ form.submit(class = "form-label") }}
    </form>

{% endblock %}